root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.proj]
root = true
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# NOML files ++
[*.noml]
indent_style = space
indent_size = 2